html {
  width: 100%;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 100%;
  margin: auto;
  text-align: center;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  text-align: center;
}

main > .row > .cell:nth-child(2) {
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}

main > .row:nth-child(2) > .cell {
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}
