html {
  width: 100%;
  background-color: #e8efeb;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

main {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  text-align: center;
}

main > .row > .cell:nth-child(2) {
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}

main > .row:nth-child(2) > .cell {
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

.history {
  display: flex;
  flex-direction: column;
}

.history-button {
  margin: 0.25em 0;
}
